{%- liquid
  assign bg_color = section.settings.background_color
  assign frame_color = section.settings.frame_color
 
-%}

{% style %}
    #Screen--{{ section.id }} {

        {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
        background-color: {{ bg_color }};
        {%- endunless -%}

        padding: 4rem 0;
    }

    #sframe--{{ section.id }} {
        {%- unless frame_color == 'rgba(0,0,0,0)' or frame_color == blank -%}
            background-color: {{ frame_color }};
        {%- endunless -%}

    }

    .sframe {
        width: 80%;
        margin: auto;
        border-radius: 2.22994rem;
        display: flex;
        justify-content: center;
        padding: 1rem;
        align-items: center;
    }

    .screen_image {
        width: 100%;
    }
{% endstyle %}

<section id="Screen--{{ section.id }}">
    <div id="sframe--{{ section.id }}" class="sframe">
        <img src="{{ section.settings.image | img_url: '1024x1024' }}" alt="Screen Image" class="screen_image">
    </div>
</section>

{% schema %}
    {
        "name": "Screen Image",
        "settings": [
            {
                "type": "image_picker",
                "label": "Image",
                "id": "image"
            },
            {
                "type": "color",
                "label": "Frame color",
                "id": "frame_color",
                "default": "#000000"
            },
            {
                "type": "color",
                "label": "Background",
                "id": "background_color"
            }
        ],
        "presets": [
            {
                "name": "Screen Image",
                "category": "Image"
            }
        ]
    }
{% endschema %}